<div *ngIf="service.visible" class="modal-wrapper">
  <div class="modal-container">
    <div class="title">
      <div>Konfiguration</div>
      <img src="assets/three-gears-of-configuration-tools.svg">
    </div>
    <div class="sub-title">
      <img src="assets/information-button.svg">
      <div>
        Es scheint, dass du die App zum ersten Mal verwendest. Um mit der Verwendung der App zu beginnen, musst du zuerst die Konfiguration durchführen.
      </div>
    </div>
    <div class="instance-conf">
      <div>Admin-Schlüssel</div>
      <input [(ngModel)]="service.apiKey" type="text">
    </div>
    <button (click)="service.saveApiKey()" type="button">Speichern & Überprüfen</button>
  </div>
</div>
